.game-videos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 10px;
  list-style: none;
}

.game-video a {
  text-decoration: none;
}

.game-video-card {
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.game-video-thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  object-position: center;
  display: block;
}
.game-video-details {
  margin-left: 20px;
}
.game-video-name {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  color: #333;
}

.game-video-views {
  display: flex;
  gap: 12px;
  font-size: 13px;
  color: #666;
}

.failure-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.failure-view img {
  width: 80%;
  max-width: 300px;
  align-self: center;
}
.failure-view-title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.failure-view-text {
  font-size: 1rem;
  margin-bottom: 15px;
}
.failure-view-retry-btn {
  background: transparent;
  padding: 10px 25px;
  border: 1px solid #00306e;
  border-radius: 3px;
  font-size: 14px;
  color: #efefef;
  letter-spacing: 1px;
  background-color: #00306e;
  cursor: pointer;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .failure-view img {
    width: 60%;
    max-width: 250px;
  }

  .failure-view-title {
    font-size: 1rem;
  }

  .failure-view-text {
    font-size: 0.9rem;
  }

  .failure-view-retry-btn {
    padding: 8px 20px;
    font-size: 12px;
  }
}
