* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}


body,
#root {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
.loader {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-content {
  padding-top: 75px; 
  padding-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .main-content {
    margin-left: 225px; 
    padding-bottom: 20px;
  }
}
body.dark-theme {
  background-color: #181818;
  color: #fff;
}

.dark-theme .navbar-container,
.dark-theme .menubar-container {
  background-color: #141414;
}

.dark-theme .search-bar-container {
  border-color: #444;
}

.dark-theme .search-input {
  background-color: #181818;
  color: #fff;
}

.dark-theme .search-icon {
  background-color: #313131;
  color: #fff;
}

.dark-theme .home-video-name,
.dark-theme .trending-video-name,
.dark-theme .game-video-name,
.dark-theme .saved-video-name,
.dark-theme .trending-banner-title,
.dark-theme .menu-item-text,
.dark-theme .gaming-banner-title,
.dark-theme .saved-videos-banner-title,
.dark-theme .contact-us button,
.dark-theme .contact-us-title,
.dark-theme .contact-us-text {
  color: #ffffff !important;
}

.dark-theme .menu-item .active-menu-link,
.dark-theme .menu-item .menu-link:active {
  background-color: #424242;
}

.dark-theme .video-item-social .active-btn {
  color: #2563eb;
}

.dark-theme .not-found-title,
.dark-theme .not-found-text {
  color: #ffffff;
}

.dark-theme .home-video-channel-name,
.dark-theme .trending-video-channel-name,
.dark-theme .game-video-views,
.dark-theme .saved-video-channel-name {
  color: #909090;
}

.dark-theme .popup-text,
.dark-theme .banner-btn,
.dark-theme .banner-text {
  color: #000 !important;
}

.dark-theme .custom-popup {
  background-color: #212121;
}

.dark-theme .popup-text {
  color: #f9f9f9 !important;
}

.dark-theme .cancel-btn {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.dark-theme .login-page-container {
  background-color: #212121;
}
.dark-theme .login-form-container {
  background-color: #0f0f0f;
  box-shadow: none;
}
.dark-theme .login-form-label,
.dark-theme .login-show-password-container label {
  color: #f9f9f9;
}
.dark-theme .login-input {
  background-color: transparent;
  color: #f9f9f9;
  border: 1px solid #475569;
}